.arc text {
    font: 10px sans-serif;
    font-weight: bold;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

#pie-vis-container {
    grid-row: 4 / span 2;
    align-self: center;
    justify-self: center;
    top: 5em;
}

#pie-vis-container p {
    text-decoration: underline;
}

.pie-selected {
    stroke: black !important;
    stroke-width: 5px;
}

.arc text {
    pointer-events: none;
}