#mainPane {
    display: grid;
    grid-template-columns: auto 900px auto;
    height: 100vh;
}

#vis {
    grid-column: 2;
}

#vis #map, #mapAnnotations {
    width: 900px;
}

#chart, #mapAnnotations {
    position: absolute;
    transform: translate(-50%, -50%);
}

#chart {
    width: 718px;
    height: 565px;
    z-index: 100;
    left: 50%;
    top: 44.5%;
}

#controls {
    /* left: 50%;
    bottom: 0px; */
    /* transform: translate(-50%, 0%); */
    height: 100px;
    width: 100%;
}

#goldChart {
    height: 500px;
    width: 100%;
}
#goldTitle {
    height: 25px;
    width: 100%;
}
.blueTeamTXT {color: #2d68c4; text-align: center; font-size: 2rem; font-weight: bold;}
.redTeamTXT {color: #DC143C;}
.vsTXT {color: black;}

.line {
    fill: none;
    stroke: #2d68c4;
    stroke-width: 3px;
}

#pieChart {
    height: 900px;
    width: 100%;
}

#mapAnnotations {
    top: 44%;
    left: 50%;
    z-index: 101;
    display: none;
}

.grid-centered {
    justify-items: center;
    align-items: center;
}

body {
    margin: 0;
}

svg, img {
    user-select: none;
}